<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jovian Careers</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
      <img class="img-fluid" id="banner" src="static/banner.jpg" />
      <h2 class="text-center mt-2 mb-4">About Jovian</h2>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, mollitia
        officiis. Necessitatibus reprehenderit, consectetur facere magni
        repudiandae consequatur cupiditate rerum quia sequi inventore laboriosam
        nihil tempore obcaecati recusandae ipsum enim ad porro, similique
        pariatur architecto expedita a soluta. Voluptatem reiciendis debitis
        pariatur voluptatum dolorem aspernatur, vero rerum ad autem, culpa error
        repudiandae sunt placeat eveniet inventore explicabo atque accusantium
        quaerat non maxime earum quam porro! Maiores placeat voluptates atque
        sequi nostrum harum laudantium delectus quidem nobis voluptatem
        necessitatibus itaque cumque doloremque maxime accusantium soluta
        deleniti vitae, magni eligendi consequatur commodi dolor ea totam
        architecto? Fuga repellat est beatae voluptas dolores?
      </p>
      <h2 class="text-center mt-2 mb-4">Job Openings</h2>
      <div>{% for job in jobs %} {% include 'jobitem.html' %} {% endfor %}</div>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2022, Jovian</p>
      </div>
    </div>
  </body>
</html>
